.hide-form {
    display: none;
}

.form-note {
    margin-top: 100px;
}

.separation {
    margin-top: 20px;
    background-color: #e3dede;
}

.note {
    word-wrap:break-word;
    white-space: pre;
}
